#!/usr/bin/make -f

# Upgrade FORTIFY_SOURCE to level 3 (dpkg default is =2).
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CPPFLAGS_MAINT_APPEND = -U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=3

%:
	dh $@
